/HoraDoSistemaAlfa/dist/
/IdiomaDoSistema/dist/
/OlaMundoSwings/dist/
/PrimeiroPrograma/dist/
/ResolucaoDaTela/dist/
/OlaMundoJavaFX/nbproject/private/
/OlaMundoJavaFX/build/
/OlaMundoJavaFX/dist/
/RelogioSwing/nbproject/private/
/RelogioSwing/build/
/RelogioSwing/dist/
/TiposPrimitivos/nbproject/private/
/TiposPrimitivos/build/
/OlaMundoJava/nbproject/private/
/OlaMundoJava/build/
/OlaMundoJava/dist/
/ResolucaoDatela/nbproject/private/
/ResolucaoDatela/build/
/IdiomadoSistema/nbproject/private/
/IdiomadoSistema/build/
/IdiomadoSistema/dist/
/TesteTipos/nbproject/private/
/TesteTipos/build/
/SomaSwing/nbproject/private/
/SomaSwing/build/
/SomaSwing/dist/
/OperadoresAritmeticos/nbproject/private/
/OperadoresAritmeticos/build/
/OperadoresAritmeticos/dist/
/JavaApplication9/nbproject/private/
/OperadoresSwing/nbproject/private/
/OperadoresSwing/build/
/OperadoresSwing/dist/
/SuperCalculadoraJavaFX/nbproject/private/
/ProjetoSuperCalculadora/nbproject/private/
/ProjetoSuperCalculadora/build/
/ProjetoSuperCalculadora/dist/